.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFF;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar.open {
    height: 100%;
    width: 317px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
}

.nav {

}

.nav a {
    display: flex;
    padding-left: 70px;
    padding-bottom: 45px;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #000;
    text-decoration: none;

}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    text-decoration: underline;
    color: #0059B2;
}
.close {
    background-color:#FFF ;
    border: none;
    width: 24px;
    height: 24px;
    padding-left:269px ;
    margin-bottom: 15px;
}

.close img {

}
