/*.input:focus {*/
/*    border-color: #9147ff;*/
/*    background: #fff;*/
/*}*/

.input {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;
}

.inputWrapper {
}

.superInput {
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;

}

.errorInput {
    border-color: #cc0000;
}

.errorInput:focus {
   border:2px solid #cc0000;
}

.error {
    color: #cc0000;
}


