.buttonsContainer {
    margin-top: 15px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.clock {
    margin-left: 70px;

}

.watch {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    margin-top: 26px;
}

.watch strong {

}

.more {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
}