.App {
    --header_height: 60px;
}

.hw {
    margin-bottom: 60px;
    margin-left: 70px;
    margin-top: 20px;
}

.hwTitle {
    margin-left: 70px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}