.sendForm {
display: flex;
    justify-content: space-between;
    margin: 0 70px;
}

.textarea {
background-color: #F5F7FB;
    width: 976px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif ;
    font-size: 14px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
    resize: none;
    overflow:  hidden;

}

.button {
    background-color: #0066CC;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 38px;
    border-radius: 20px;
    border: 0;
}

.button:hover {

}
.button:active {

}
