.select {
    width: 180px;
    height: 30px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 108px;
}

.select:focus {
    width: 180px;
    height: 30px;
}


.option:hover {
    width: 180px;
    height: 30px;
}
