.burgerMenuIcon {

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 70px;
    border-bottom: solid 1px #ffffff;
    box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.10), 0 0 40px 0 rgba(29, 33, 38, 0.13);
    margin-bottom: 40px;

}

.header h1 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}