.button {
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: white;
    background-color: #0066CC;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    list-style: none;
    outline: none;
    padding: 3px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    margin-right: 10px;
}

.disabled {
    color: #000000;
    background-color: #004D99;
    opacity: 0.6;
}

.secondary {
    color: #0066CC;
    background-color:white;
    border:1px solid #0066CC ;
}

.default {
    background-color: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
    background: #424242;
}

.red:hover {
    background: #ea6e6e;
}

.secondary:hover {
    background: #DDEEFF;
}

.default:active {
    background: #565454;
}

.secondary:active {
    background: #DDEEFF;
}

.red:active {
    background: #cc0000;
}

.button:disabled {
    cursor: default;
}
